.header{
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.95),rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.38),rgba(0, 0, 0, 0)),url("images/pizza.jpg") ;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.navbar-brand{
  font-family:monospace;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 50px;
}

h1{
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  padding-left: 50px;
  padding-top: 100px;
}



h2{
  font-family: 'Caveat', cursive;
  padding-left: 50px;
  padding-top: 40px;
}

p{
  font-size:  1.5rem;
  font-family: cursive;
  padding-left: 50px;
}

button{
  margin-left: 50px;
  margin-top: 40px;
}

.nav-link{
  font-size: 1.2rem;
  font-family:monospace;
}

.nav-item{
  padding-right:20px;
}

div{
  padding-left: 50px;

}


